<a href="https://colab.research.google.com/github/jellyontherock/AI/blob/master/h%26m_20220506.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''

1. SQL로 데이터 전처리 (본 파일이 3GB 이상)

select article_id, count(article_id)
from transactions_train_csv ttc 
group by article_id; # test.csv로 저장

select *
from test
	full outer join articles a 
	on test.article_id = a.article_id; #test_2.csv로 저장
'''

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('/content/drive/MyDrive/머신러닝/H&M 구매 분석/test_2.csv')
df = pd.DataFrame(df)
df.head()

,article_id,count,article_id.1,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,...,department_no,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name
0,108775044.0,7250.0,108775044,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,...,1676,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic
1,110065002.0,539.0,110065002,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,...,1339,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear"
2,110065011.0,1090.0,110065011,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,...,1339,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear"
3,111565003.0,46.0,111565003,111565,20 den 1p Stockings,302,Socks,Socks & Tights,1010016,Solid,...,3608,Tights basic,B,Lingeries/Tights,1,Ladieswear,62,"Womens Nightwear, Socks & Tigh",1021,Socks and Tights
4,111593001.0,13888.0,111593001,111593,Support 40 den 1p Tights,304,Underwear Tights,Socks & Tights,1010016,Solid,...,3608,Tights basic,B,Lingeries/Tights,1,Ladieswear,62,"Womens Nightwear, Socks & Tigh",1021,Socks and Tights

In [4]:
df.columns

Index(['article_id', 'count', 'article_id.1', 'product_code', 'prod_name',
       'product_type_no', 'product_type_name', 'product_group_name',
       'graphical_appearance_no', 'graphical_appearance_name',
       'colour_group_code', 'colour_group_name', 'perceived_colour_value_id',
       'perceived_colour_value_name', 'perceived_colour_master_id',
       'perceived_colour_master_name', 'department_no', 'department_name',
       'index_code', 'index_name', 'index_group_no', 'index_group_name',
       'section_no', 'section_name', 'garment_group_no', 'garment_group_name'],
      dtype='object')

In [6]:
df = df[['article_id', 'count', 'prod_name', 'product_type_name', 'product_group_name', 'index_name', 'index_group_name', 'section_name','perceived_colour_master_name']]
df.head(1)

,article_id,count,prod_name,product_type_name,product_group_name,index_name,index_group_name,section_name,perceived_colour_master_name
0,108775044.0,7250.0,Strap top,Vest top,Garment Upper body,Ladieswear,Ladieswear,Womens Everyday Basics,White

In [11]:
df = df.sort_values('count',ascending=False)
df = df[:100]

In [12]:
df

,article_id,count,prod_name,product_type_name,product_group_name,index_name,index_group_name,section_name,perceived_colour_master_name
79622,706016001.0,50287.0,Jade HW Skinny Denim TRS,Trousers,Garment Lower body,Divided,Divided,Divided Collection,Black
26892,706016002.0,35043.0,Jade HW Skinny Denim TRS,Trousers,Garment Lower body,Divided,Divided,Divided Collection,Blue
53493,372860001.0,31718.0,7p Basic Shaftless,Socks,Socks & Tights,Lingeries/Tights,Ladieswear,"Womens Nightwear, Socks & Tigh",Black
65034,610776002.0,30199.0,Tilly (1),T-shirt,Garment Upper body,Ladieswear,Ladieswear,Womens Everyday Basics,Black
35081,759871002.0,26329.0,Tilda tank,Vest top,Garment Upper body,Divided,Divided,Divided Complements Other,Black
...,...,...,...,...,...,...,...,...,...
34133,753737001.0,9723.0,Twenty HW tapered,Trousers,Garment Lower body,Ladieswear,Ladieswear,Womens Everyday Collection,Black
88181,762846001.0,9663.0,Lucy blouse,Shirt,Garment Upper body,Ladieswear,Ladieswear,Womens Tailoring,White
23085,685813001.0,9579.0,PETAR SWEATSHIRT,Sweater,Garment Upper body,Menswear,Menswear,Men Underwear,Black
28720,716672001.0,9394.0,Jennifer Top,Vest top,Garment Upper body,Ladieswear,Ladieswear,Womens Tailoring,White
11354,599580055.0,9387.0,Timeless Midrise Brief,Swimwear bottom,Swimwear,Lingeries/Tights,Ladieswear,"Womens Swimwear, beachwear",Green