<a href="https://colab.research.google.com/github/jellyontherock/AI/blob/master/%EB%8D%B0%EC%9D%B4%EC%BD%98_%EC%B9%B4%EB%93%9C%EC%82%AC%EA%B8%B0%EA%B3%B5%EB%AA%A8%EC%A0%84(20220704).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [25]:
test_df = pd.read_csv('/content/drive/MyDrive/AI/카드 사기 공모전_데이콘/test.csv')

In [26]:
test_df = pd.DataFrame(test_df)
test_df.head()

,ID,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,V29,V30
0,AAAA0x1,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,1.783274,-0.994983
1,AAAA0x2,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,-0.269825,-0.994983
2,AAAA0x5,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,0.670579,-0.994960
3,AAAA0x7,1.229658,0.141004,0.045371,1.202613,0.191881,0.272708,-0.005159,0.081213,0.464960,...,-0.167716,-0.270710,-0.154104,-0.780055,0.750137,-0.257237,0.034507,0.005168,-0.237686,-0.994937
4,AAAA0xc,0.384978,0.616109,-0.874300,-0.094019,2.924584,3.317027,0.470455,0.538247,-0.558895,...,0.049924,0.238422,0.009130,0.996710,-0.767315,-0.492208,0.042472,-0.054337,-0.167819,-0.994866

In [36]:
train_df = pd.read_csv('/content/drive/MyDrive/AI/카드 사기 공모전_데이콘/train.csv')
train_df = pd.DataFrame(train_df)
train_df.head()

,ID,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,V29,V30
0,3,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,4.983721,-0.994972
1,4,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,1.418291,-0.994972
2,6,-0.425966,0.960523,1.141109,-0.168252,0.420987,-0.029728,0.476201,0.260314,-0.568671,...,-0.208254,-0.559825,-0.026398,-0.371427,-0.232794,0.105915,0.253844,0.081080,-0.256131,-0.994960
3,8,-0.644269,1.417964,1.074380,-0.492199,0.948934,0.428118,1.120631,-3.807864,0.615375,...,1.943465,-1.015455,0.057504,-0.649709,-0.415267,-0.051634,-1.206921,-1.085339,0.262698,-0.994901
4,9,-0.894286,0.286157,-0.113192,-0.271526,2.669599,3.721818,0.370145,0.851084,-0.392048,...,-0.073425,-0.268092,-0.204233,1.011592,0.373205,-0.384157,0.011747,0.142404,0.994900,-0.994901

In [28]:
val_df = pd.read_csv('/content/drive/MyDrive/AI/카드 사기 공모전_데이콘/val.csv')
val_df = pd.DataFrame(val_df)
val_df.head()

,ID,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V22,V23,V24,V25,V26,V27,V28,V29,V30,Class
0,10,-0.338262,1.119593,1.044367,-0.222187,0.499361,-0.246761,0.651583,0.069539,-0.736727,...,-0.633753,-0.120794,-0.385050,-0.069733,0.094199,0.246219,0.083076,-0.255991,-0.994878,0
1,22,0.962496,0.328461,-0.171479,2.109204,1.129566,1.696038,0.107712,0.521502,-1.191311,...,0.402492,-0.048508,-1.371866,0.390814,0.199964,0.016371,-0.014605,0.168937,-0.994784,0
2,63,1.145524,0.575068,0.194008,2.598192,-0.092210,-1.044430,0.531588,-0.241888,-0.896287,...,-0.119703,-0.076510,0.691320,0.633984,0.048741,-0.053192,0.016251,0.169496,-0.994502,0
3,69,0.927060,-0.323684,0.387585,0.544474,0.246787,1.650358,-0.427576,0.615371,0.226278,...,0.079359,0.096632,-0.992569,0.085096,0.377447,0.036096,-0.005960,0.331307,-0.994467,0
4,83,-3.005237,2.600138,1.483691,-2.418473,0.306326,-0.824575,2.065426,-1.829347,4.009259,...,-0.181268,-0.163747,0.515821,0.136318,0.460054,-0.251259,-1.105751,-0.287012,-0.994373,0

In [ ]:
train_df.info()
# null 이나 이상값 없을 것으로 추측됨

In [40]:
train2 = train_df.drop('ID',axis=1)
train2.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,V29,V30
0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,4.983721,-0.994972
1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,1.418291,-0.994972
2,-0.425966,0.960523,1.141109,-0.168252,0.420987,-0.029728,0.476201,0.260314,-0.568671,-0.371407,...,-0.208254,-0.559825,-0.026398,-0.371427,-0.232794,0.105915,0.253844,0.081080,-0.256131,-0.994960
3,-0.644269,1.417964,1.074380,-0.492199,0.948934,0.428118,1.120631,-3.807864,0.615375,1.249376,...,1.943465,-1.015455,0.057504,-0.649709,-0.415267,-0.051634,-1.206921,-1.085339,0.262698,-0.994901
4,-0.894286,0.286157,-0.113192,-0.271526,2.669599,3.721818,0.370145,0.851084,-0.392048,-0.410430,...,-0.073425,-0.268092,-0.204233,1.011592,0.373205,-0.384157,0.011747,0.142404,0.994900,-0.994901

In [41]:
#pca 모델로 잡았음 사유 -> 다른건 너무 복잡함. 그리고 x,y 나눌 기준이 없음

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()    
scaler.fit(train2)
df_scaled = scaler.transform(train2)

In [42]:
df_scaled = pd.DataFrame(df_scaled)
df_scaled

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,-0.696317,-0.812481,1.178089,0.271798,-0.368309,1.349308,0.652511,0.210988,-1.380804,0.188955,...,0.345210,1.066111,1.431834,-1.136246,-0.633230,-0.288586,-0.137969,-0.166355,1.188563,-1.990839
1,-0.495358,-0.112967,1.191305,-0.608173,-0.007886,0.933476,0.192541,0.320444,-1.264291,-0.056156,...,-0.148280,0.007285,-0.297148,-1.938909,1.241563,-0.460803,0.157587,0.173998,0.143876,-1.990839
2,-0.218427,0.580982,0.755819,-0.116154,0.307498,-0.026206,0.390690,0.221649,-0.517216,-0.351540,...,-0.286720,-0.773425,-0.039431,-0.611606,-0.450853,0.220818,0.635984,0.229098,-0.346737,-1.990818
3,-0.330318,0.858041,0.711241,-0.345477,0.693558,0.317890,0.925884,-3.209968,0.563699,1.161326,...,2.693508,-1.402900,0.092477,-1.070930,-0.801717,-0.106743,-3.020466,-3.046182,-0.194717,-1.990712
4,-0.458462,0.172537,-0.082109,-0.189262,1.951788,2.793282,0.302611,0.719980,-0.355977,-0.387965,...,-0.099976,-0.370382,-0.319020,1.671161,0.714378,-0.798093,0.029990,0.401295,0.019821,-1.990712
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113837,-6.415477,6.169704,-5.669274,-1.774215,-3.354334,-1.051879,-3.021567,4.640268,4.468824,8.074160,...,-1.306812,-2.162159,1.402375,-2.067159,3.432320,0.667510,5.233857,3.463283,-0.321352,1.645815
113838,0.965967,-0.087719,-0.674497,1.069597,-0.026160,-0.465046,0.153202,-0.208020,0.610333,0.107995,...,0.201179,0.876793,-0.064140,-0.086360,0.605158,-0.958774,0.046304,-0.113892,-0.116108,1.645857
113839,-0.124097,0.430608,0.260596,-0.325094,0.178465,-1.013702,0.767042,-0.171877,0.098905,-0.270613,...,-0.315282,-0.710635,0.441651,0.614549,-1.078550,0.235849,0.329761,0.229617,-0.339285,1.645899
113840,0.061566,0.563104,-0.371251,-0.524503,0.826191,-0.181210,0.670168,0.099151,-0.184366,-0.618512,...,-0.433467,-1.117010,0.081219,0.171137,-0.841334,0.258583,0.546111,0.194625,-0.350749,1.645962
113841,-6.089697,6.099426,-6.576552,-1.460036,-3.923101,-1.963042,-4.089330,6.164311,1.749605,4.061261,...,0.297364,0.154545,1.597020,-0.839255,2.759503,0.520457,2.362643,2.314445,-0.358610,1.645983

In [43]:
result = pd.concat([train_df['ID'],df_scaled],axis=1)

            ID         0         1         2         3         4         5  \
0            3 -0.696317 -0.812481  1.178089  0.271798 -0.368309  1.349308
1            4 -0.495358 -0.112967  1.191305 -0.608173 -0.007886  0.933476
2            6 -0.218427  0.580982  0.755819 -0.116154  0.307498 -0.026206
3            8 -0.330318  0.858041  0.711241 -0.345477  0.693558  0.317890
4            9 -0.458462  0.172537 -0.082109 -0.189262  1.951788  2.793282
...        ...       ...       ...       ...       ...       ...       ...
113837  284796 -6.415477  6.169704 -5.669274 -1.774215 -3.354334 -1.051879
113838  284797  0.965967 -0.087719 -0.674497  1.069597 -0.026160 -0.465046
113839  284798 -0.124097  0.430608  0.260596 -0.325094  0.178465 -1.013702
113840  284802  0.061566  0.563104 -0.371251 -0.524503  0.826191 -0.181210
113841  284803 -6.089697  6.099426 -6.576552 -1.460036 -3.923101 -1.963042

               6         7         8  ...        20        21        22  \
0       0.652511  0.210988 -1.380804  ...  0.345210  1.066111  1.431834
1       0.192541  0.320444 -1.264291  ... -0.148280  0.007285 -0.297148
2       0.390690  0.221649 -0.517216  ... -0.286720 -0.773425 -0.039431
3       0.925884 -3.209968  0.563699  ...  2.693508 -1.402900  0.092477
4       0.302611  0.719980 -0.355977  ... -0.099976 -0.370382 -0.319020
...          ...       ...       ...  ...       ...       ...       ...
113837 -3.021567  4.640268  4.468824  ... -1.306812 -2.162159  1.402375
113838  0.153202 -0.208020  0.610333  ...  0.201179  0.876793 -0.064140
113839  0.767042 -0.171877  0.098905  ... -0.315282 -0.710635  0.441651
113840  0.670168  0.099151 -0.184366  ... -0.433467 -1.117010  0.081219
113841 -4.089330  6.164311  1.749605  ...  0.297364  0.154545  1.597020

              23        24        25        26        27        28        29
0      -1.136246 -0.633230 -0.288586 -0.137969 -0.166355  1.188563 -1.990839
1      -1.938909  1.241563 -0.460803  0.157587  0.173998  0.143876 -1.990839
2      -0.611606 -0.450853  0.220818  0.635984  0.229098 -0.346737 -1.990818
3      -1.070930 -0.801717 -0.106743 -3.020466 -3.046182 -0.194717 -1.990712
4       1.671161  0.714378 -0.798093  0.029990  0.401295  0.019821 -1.990712
...          ...       ...       ...       ...       ...       ...       ...
113837 -2.067159  3.432320  0.667510  5.233857  3.463283 -0.321352  1.645815
113838 -0.086360  0.605158 -0.958774  0.046304 -0.113892 -0.116108  1.645857
113839  0.614549 -1.078550  0.235849  0.329761  0.229617 -0.339285  1.645899
113840  0.171137 -0.841334  0.258583  0.546111  0.194625 -0.350749  1.645962
113841 -0.839255  2.759503  0.520457  2.362643  2.314445 -0.358610  1.645983

[113842 rows x 31 columns]

In [44]:
result.head()

,ID,0,1,2,3,4,5,6,7,8,...,20,21,22,23,24,25,26,27,28,29
0,3,-0.696317,-0.812481,1.178089,0.271798,-0.368309,1.349308,0.652511,0.210988,-1.380804,...,0.345210,1.066111,1.431834,-1.136246,-0.633230,-0.288586,-0.137969,-0.166355,1.188563,-1.990839
1,4,-0.495358,-0.112967,1.191305,-0.608173,-0.007886,0.933476,0.192541,0.320444,-1.264291,...,-0.148280,0.007285,-0.297148,-1.938909,1.241563,-0.460803,0.157587,0.173998,0.143876,-1.990839
2,6,-0.218427,0.580982,0.755819,-0.116154,0.307498,-0.026206,0.390690,0.221649,-0.517216,...,-0.286720,-0.773425,-0.039431,-0.611606,-0.450853,0.220818,0.635984,0.229098,-0.346737,-1.990818
3,8,-0.330318,0.858041,0.711241,-0.345477,0.693558,0.317890,0.925884,-3.209968,0.563699,...,2.693508,-1.402900,0.092477,-1.070930,-0.801717,-0.106743,-3.020466,-3.046182,-0.194717,-1.990712
4,9,-0.458462,0.172537,-0.082109,-0.189262,1.951788,2.793282,0.302611,0.719980,-0.355977,...,-0.099976,-0.370382,-0.319020,1.671161,0.714378,-0.798093,0.029990,0.401295,0.019821,-1.990712

In [45]:
from sklearn.decomposition import PCA

# 2차원으로 차원 축소, target 정보는 제외
pca = PCA(n_components = 2)
pca.fit(df_scaled.iloc[:,:-1])
 
# pca transform 후 데이터프레임으로 자료형 변경
df_pca = pca.transform(df_scaled.iloc[:,:-1])
df_pca = pd.DataFrame(df_pca, columns = ['component 0', 'component 1'])

df_pca

        component 0  component 1
0          1.785664    -1.747144
1          0.219435    -1.642199
2         -0.452937    -0.228551
3         -0.199154    -0.818936
4          0.005507    -0.080979
...             ...          ...
113837    -0.903984     0.302173
113838    -0.166861     0.348450
113839    -0.421760     0.155073
113840    -0.439809     0.050352
113841    -1.370536     1.022431

[113842 rows x 2 columns]

In [49]:
# PCA 주성분 설명력 출력

print(pca.explained_variance_ratio_)
# [0.06743045 0.03863974]
# 망했다! 30차원을 2차원으로 줄였을 때, 총 10% 설명...

[0.06743045 0.03863974]

In [50]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.font_manager as fm
import numpy as np
import random as rd

In [53]:
X = train_df.iloc[:, [0,1]].values # shape=(113842, 2)
m=X.shape[0] # 집합 개수 (m=113842)
n=X.shape[1] # 특징 개수 (n=2)

In [54]:
print(m)
print(n)

113842
2

In [55]:
K=2 # 클러스터 개수

In [ ]:
#클러스터링으로 해볼 예정